#sphereCard{
    border-radius: 50%;
    background-color: $gray;
    height: 300px;
}

#absolute{
    position: absolute;
}

#relative{
    position: relative;
}

#button{
    position: relative;
    top: 65%;
}

#background{
    background-image: url("https://attachment.outlook.live.net/owa/MSA%3AJamesKAirlord%40LIVE.COM/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATNiZmYAZC1hNjc3AC03YjNiLTAwAi0wMAoARgAAA57qF2eSW0dGpIDce1oTTf8HAJdNRPa1TwRCoDoVwNTMrEMAAAIBDAAAAJdNRPa1TwRCoDoVwNTMrEMAAxlFGG0AAAABEgAQAPaJCCIYIVVMuC4dmJ%2F%2BFOQ%3D&thumbnailType=2&owa=outlook.live.com&scriptVer=2019110503.08&isc=1&X-OWA-CANARY=xNy9EB2pkkqkUTfd1101VkBM9X8fZdcYnTUxEhxfXBav56WVVMcMjLGTCDKCGlF9XVWAK4-N2CQ.&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjA2MDBGOUY2NzQ2MjA3MzdFNzM0MDRFMjg3QzQ1QTgxOENCN0NFQjgiLCJ4NXQiOiJCZ0Q1OW5SaUJ6Zm5OQVRpaDhSYWdZeTN6cmciLCJ0eXAiOiJKV1QifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2subGl2ZS5jb20iLCJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImlzc3JpbmciOiJXVyIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTI4MjctMjQ1NzU3LTI3OTI4NDgxODdcIixcInB1aWRcIjpcIjEwNTU1MjEwNzA2MTEyNTlcIixcIm9pZFwiOlwiMDAwM2JmZmQtYTY3Ny03YjNiLTAwMDAtMDAwMDAwMDAwMDAwXCIsXCJzY29wZVwiOlwiT3dhRG93bmxvYWRcIn0iLCJuYmYiOjE1NzMzMDg5NTksImV4cCI6MTU3MzMwOTU1OSwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50Lm91dGxvb2subGl2ZS5uZXRAODRkZjllN2YtZTlmNi00MGFmLWI0MzUtYWFhYWFhYWFhYWFhIn0.j6FHVyyO5UVD6p1sniumD9Q08v2xFtvfHQ9FBHaOdJZebnt5P3uf8SRLa9crpIkypYAFC3kan64hJ01jAcT_9woNuaxJb2HAhavlANrPljLjiHMcKL2uu6OLdzVZ7OC4K9wEe6kiPmG_MoXTf70fTfhyiFuB-yt_ueIa7MERH-g7apyxJYtBmVe86tJNgn_ZAm1rHJVyIx1psnJ3ouCFp-fjifVRltPw2glGbk0x4rQeOl8FpuPAbYzycACPc9ocP5epRCH0QbDLNiFJtjQUXwtkK0KdiRPGWGIZnZ1Rvs03UUEPeZW2SAJZNTwlVgPbH805WjJcbADJUm_bDReC7Q&animation=true");
    background-size: 300px;
    background-repeat: no-repeat;
}